**try-except**


- try except is used to handle the exception mechanism

- try and except is used to catch and handle the errors

- when we get the errors python will stop the execution

- using try exception eventhough we get the error, the execution will not stop

- it will catch all the logical errors automatically

- the actual code block will write in **try block**

- if any error occures in try block, we will catch the errors in **except block**

- syntax errors will not catch

**value**

In [7]:
int("apple")

ValueError: invalid literal for int() with base 10: 'apple'

**type error**

In [9]:
type(apple)

NameError: name 'apple' is not defined

**zero division error**

In [12]:
100/0

ZeroDivisionError: division by zero

**module not found error**

In [13]:
import rajnath

ModuleNotFoundError: No module named 'rajnath'

**attribute error**

In [14]:
import math
math.rajnath

AttributeError: module 'math' has no attribute 'rajnath'

**file not exist file**

In [17]:
import os
os.makdirs()

AttributeError: module 'os' has no attribute 'makdirs'

In [ ]:
try:
    <original code>
except Exception as e:
    print(e)

In [2]:
try:
    int('10.5')
except Exception as e:
    print(e)

invalid literal for int() with base 10: '10.5'

In [3]:
try:
    int('10.5')
except Exception as e:
    print(e)
    print(100+200)

invalid literal for int() with base 10: '10.5'
300

In [12]:
try:
    print('rajnath')
    print('learning')
    int('10.5')
    print('python')
except Exception as e:
    print(e)
    print('at naresh it')
    print('happy life')

rajnath
learning
invalid literal for int() with base 10: '10.5'
at naresh it
happy life

In [3]:
try:
    print('puppy')
    bool('10')
    print('rajnath')
except Exception as e:
    print(e)
    print(100+200)

puppy
rajnath

In [4]:
try:
    int('apple')
except Exception as e:
    print(e)
    print(100+200)

invalid literal for int() with base 10: 'apple'
300

In [10]:
try:
    print('rajnath')
    type(apple)
except Exception as e:
    print(e)
    print(100+200)

rajnath
name 'apple' is not defined
300

In [1]:
try:
    Rajnath
except Exception as e:
    print(e)

name 'Rajnath' is not defined

In [13]:
try:
    import rajnath
except Exception as e:
    print(e)
    print(100+200)

No module named 'rajnath'
300

In [2]:
try:
    import math
    math.rajnath
    
except Exception as e:
    print(e)
    print(100+200)

module 'math' has no attribute 'rajnath'
300

In [6]:
# wap user salary 
# ask the user emter the tax_per
# cal how much need to pay

salary=eval(input('enter the salary'))
tax_per=eval(input('enter the tax_per'))
tax=salary*tax_per/100
print(f'total tax is:{tax}')

enter the salary 50000
enter the tax_per 10

total tax is:5000.0

In [7]:
try:
    salary=eval(input('enter the salary'))
    tax_per=eval(input('enter the tax_per'))
    tax=salary*tax_per/100
    print(f'total tax is:{tax}')
except Exception as e:
    print(e)

enter the salary 50000
enter the tax_per 10

total tax is:5000.0

In [14]:
#even-odd

try:
    num=eval(input('enter the  number'))
    if num%2==0:
        print(f'{num}is even num')
    else:
        print(f'{num}odd num')
except Exception as e:
    print(e)

enter the  number 3

3odd num

In [ ]:
**try-except-finally**

- originally code in **try** block

- error catch in **except** block

- **finally** block will activate either or try and except activated

- assume that try block excecuted then finally block can also execute

- assume that except block executed then also finally block executed

- coffee well=====try clean the kitchen ====finally

- co

In [15]:
try:
    print('connection established')
except Exception as e:
    print(e)
finally:
    print('connection closed')

connection established
connection closed

In [16]:
try:
    100/0
except Exception as e:
    print(e)
    print('Rajnath')
finally:
    print('connection closed')

division by zero
Rajnath
connection closed