In [1]:
#wap ask the user
# take a salary : 100000
# take a tax percentage : 10
# find the tax
# formula: salary*tax_per/100

salary=100000
tax_percentage=10
tax_amount=100000*10/100
tax_amount

10000.0

# data types

- int

- float

- complex

- str

- list

- tuple

- dict

- set

- frozenset

- range

- bytes

- bytearray

- memoryview

- bool

 # integer data type

In [2]:
number=100
type(number)

int

# float data type

In [3]:
n1=10.5
type(n1)

float

** Exponential Representation

In [5]:
print(1e1)  # 1*10    
print(1e2)  #1*100
print(2e3)  #1*1000

10.0
100.0
2000.0

In [6]:
print(1e1,1e+1)  #1*10
print(1e2,1e+2)  #1*100
print(2e3,2e+3)  #2*1000

10.0 10.0
100.0 100.0
2000.0 2000.0

In [ ]:
2e3 # 2*<number  zeros>  2*10^3
1e1 # 1*10^1
1e1=====can also write as 1e+1
2e3=====can also write as 2e+3
4e5=====can also write as 4e+5

In [11]:
1e+1 #1*10
1e-1#1/10

0.1

In [12]:
2e+3 #2*1000
2e-3 #2/1000

0.002

# string data type

In [4]:
hyderabad=100
print(hyderabad)

100

In [2]:
# variable===black
#keyword==== green colour
#string====== red
name='naresh it'
institute_name='naresh it'
coaching_center='omkar sir'
coaching_center

'omkar sir'

In [6]:
institute_name

'naresh it'

In [7]:
coaching_center

'naresh it'

In [8]:
print(name)

naresh it

In [9]:
print(institute_name)

naresh it

In [10]:
print(coaching_center)

naresh it

In [13]:
name1='Naresh IT'
name2='naresh it@gmail.com'
name3='naresh it123'

In [14]:
name1

'Naresh IT'

In [15]:
print(name1)

Naresh IT

In [4]:
greet1='hello'
greet2=' hello'
greet3='    hello'
print('hello')
print("  hello")
greet1

hello
  hello

'hello'

In [23]:
print(greet1)

hello

In [24]:
print(greet2)

 hello

In [25]:
greet1,greet2

('hello', ' hello')

In [29]:
len(greet1),len(greet2)

(5, 6)

In [6]:
print("greet1")
print(greet2)
print(greet3)

greet1
 hello
    hello

# double quotes

In [33]:
name1="hyderabad"  #single and double quotyes both are same ,no difference
name1

'hyderabad'

In [34]:
print(name1)

hyderabad

In [47]:
s1="I joined in DS and AI class"
s2='I joined in DS and AI calss' 

#above statement is a information
#information in english
#red colour=====.quotes
#single or double

In [48]:
s1

'I joined in DS and AI class'

In [49]:
s2

'I joined in DS and AI calss'

In [50]:
s1="i joined 'da and ai' class"
s1

"i joined 'da and ai' class"

In [51]:
print(s1)

i joined 'da and ai' class

In [52]:
print(s1)
print(s2)

i joined 'da and ai' class
I joined in DS and AI calss

In [54]:
s1='I joined in "DS and AI" class'
s1

'I joined in "DS and AI" class'

In [55]:
print(s1)

I joined in "DS and AI" class

In [58]:
s2= "I joined in'ds and ai' class"
s2

"I joined in'ds and ai' class"

In [60]:
print(s2)

I joined in'ds and ai' class

# triple quoutes

- in jupyter note book we have a **markdown** option to write a information

- **markdown** means we are conveying some infromation to the user

- but in other platform like **vscode pycharm** we dont have markdown option

- we can convey the information using **TRIPLE QUOTES**

- thi is also called **DOC STRING**

- the code part we provide single or double quotes

- but conveying the information about code is **triple QUOTES**

- **triple quotes** are using in prompt engineering

**Boolean**

- when we ask the question to machine

- machine always provide only two answers

           - true
           - flase
   - true means 1
   - false means 0

- you can think in another true means ON false means OFF

In [62]:
on=True
type(on)

bool

In [64]:
off=(False)
type(off)

bool

true # variable
'true' # string
True # bool

In [67]:
True=10
'true'=true
'true'=True
'true'

SyntaxError: cannot assign to True (698542515.py, line 1)

**print is a inbuilt function used to print outputs**

- we always work towards only one end goal:*customer satisfaction**

- client does not know the python code

- whatever we want to show the output we need to display very clearly

- Question yourself:**AM I SHOWING OUTPUT PROPERLY**

In [3]:
n1=100
n2=200
add=n1+n2
print('the addition of 100 and 200 is 300')
print('the sumation of 100 and 200 is 300')

the addition of 100 and 200 is 300
the sumation of 100 and 200 is 300

In [1]:
# rules
#1 the writen : string qyotes (red)
#2 1000 and 2000,100 or 200
# stored in variable n1 and n2 (black)

In [10]:
n1=100
n2=200
add=n1+n2
print(add) 
print('the addition of 100 and 200 is 300')
print('the summation of 100 and 200 is 300')

the addition of 100 and 200 is 300
the summation of 100 and 200 is 300

In [14]:
n1=1000
n2=2000
add=n1+n2
print(n1+n2)
print('the addition of',n1,'and',n2,'is',add)

3000
the addition of 1000 and 2000 is 3000

In [20]:
print('hai')
print('hello')
print('hai,hello')
print('hai,hello,a')
a=100
print('hai,hello,a')

hai
hello
hai,hello
hai,hello,a
hai,hello,a

In [29]:
#name
#age
#place
#iam python 10 years coming from hyderabad
name='python'
age=10
city='hyderabad'
print('my name is python im 10 years old. i came from hyderabad')
print('my name is',name,'iam',age,'year old.i came from',city)

my name is python im 10 years old. i came from hyderabad
my name is python iam 10 year old.i came from hyderabad

In [27]:
#sir what if i want to use variable in btw the quotes
type('nama')

str

In [35]:
n1=100
n2=200
add=n1+n2
print('the addition of 100 and 200 is 300')
print('the addition of {} and {} is {}')
print('the addition of {} and {} id {}'.format(n1,n2,add))

the addition of 100 and 200 is 300
the addition of {} and {} is {}
the addition of 100 and 200 id 300

In [38]:

name='python'
age=10
city='hyderabad'
print('my name is python im 10 years old. i came from hyderabad')
print('my name is',name,'iam',age,'year old.i came from',city)

my name is python im 10 years old. i came from hyderabad
my name is python iam 10 year old.i came from hyderabad

**f-string**
- very very easy and most used method

In [46]:
n1=100
n2=200
add=n1+n2
print('the addition of 100 and 200 is 300')
print('the addition of {} and {} is {}')
print('the addition of {n1} and {n2} is {add}')
print(f'the addition of {n1} and {n2} is {add}')

the addition of 100 and 200 is 300
the addition of {} and {} is {}
the addition of {n1} and {n2} is {add}
the addition of 100 and 200 is 300

**questions**

In [69]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
div=n1/n2
print('the addition of {} and {} is {}'.format(n1,n2,add))
print(f'the substraction of {n1} and {n2} is {sub}')
print(f'the division of{n1} and {n2} is {div}')
print('the substraction of {} and {} is {}'.format(n1,n2,sub))

the addition of 100 and 200 is 300
the substraction of 100 and 200 is -100
the division of100 and 200 is 0.5
the substraction of 100 and 200 is -100

In [9]:
pi=3.4
radius=100
area_of_circle=pi*radius*radius
print(f'the area of circle is : {area_of_circle}')

the area of circle is : 34000.0

In [18]:
print('the area of circle is'.formate(area_of_circle))

AttributeError: 'str' object has no attribute 'formate'

In [20]:
print(f'the area of circle is :{}'{area_of_circle}'))

SyntaxError: unterminated string literal (detected at line 1) (3643687226.py, line 1)

In [10]:
print('the area of circle is : {}'.format(area_of_circle))

the area of circle is : 34000.0

In [24]:
print('the area of circle is : {}'.format(area_of_circle))

the area of circle is : 34000.0

In [26]:
print(f'the area of circle is : {area_of_circel}')

NameError: name 'area_of_circel' is not defined

In [27]:
print(f'the area of circle is : {area_of_circle}')

the area of circle is : 34000.0

In [28]:
a=10 # 10 is a value assigned in "a"

In [29]:
'A'=='a'

False

In [30]:
'A'==a

False

**Round**

In [44]:
a=10
b=21
c=30
avg=(a+b+c)/3
avg

20.333333333333332

In [34]:
round(10.6789) #10.6 marks

11

In [35]:
round(10.432)

10

In [37]:
round(10.6789,1)
# 1 indicates after decimal point ony one digit
# 6789====700===7
#10.7

10.7

In [38]:
round(10.6789,2)
# 2 indicates after decimal is two digit
# 789====800===8

10.68

In [39]:
round(10.4567)

10

In [41]:
round(10.4567,3)

10.457

In [46]:
a=10
b=21
c=30
avg=(a+b+c)/3 
round_avg=round(avg,2)
print(f'the avg of {a},{b},{c} is:{round_avg}')

the avg of 10,21,30 is:20.33

In [ ]:
#inbuilt function
print()
type()
max()
min()
sum()
len()
round()

#() finction call method

#when you miss the bracket

#it wull indicate two ways

- bound method

- function

In [56]:
import os
os.getcwd
# then recall we missed the bracets

In [57]:
name='python'  # hard coded
# we fixed thee value
# we need to ask the user enter any value
# differnt user can use the same code

**input**

In [59]:
input

In [60]:
input()

 python

'python'

In [61]:
input()

 30

'30'

In [62]:
input()

 hyderabad

'hyderabad'

In [63]:
input()

 rajnath

'rajnath'

In [64]:
input()

 Abhinaya

'Abhinaya'

In [65]:
input()
input()
input()

 Rajnath
 22
 hyderabad

'hyderabad'

In [1]:
name=input()
age=input()
city=input()

 rajnath
 22years
 hyderabad

In [3]:
name=input()
age=input()
city=input()
print(f'my name is {name},my age is {age}.i came from {city}')

 rajnath
 22years
 hyderabad

my name is rajnath,my age is 22years.i came from hyderabad

In [5]:
name=input('rajnath')
age=input('22 years')
city=input('hyderabad')

rajnath
22 years
hyderabad

In [ ]:
name=input('enter ypur name')
age=input('enter your age')
city=input('enter your city')

In [3]:
name=input('enter ypur name:')
age=input('enter your age:')
city=input('enter your city:')
print(f'my name is {name},my age is {age}.i came from {city}')

enter ypur name: Abhinaya
enter your age: 20 years
enter your city: badhempally

my name is Abhinaya,my age is 20 years.i came from badhempally

**Note**

- when we provid a value from keyword

- by default python takes **string data type**

In [6]:
n1=input('enter a number:')
n1

enter a number: 100

'100'

In [7]:
n1=input('enter a number:')
n1

enter a number: hundred

'hundred'

In [10]:
n1=input('enter a number1')
n2=input('enter a number2')
n1+n2

enter a number1 100
enter a number2 200

'100200'

In [11]:
n1='100'
n2='200'
n1+n2

'100200'

**type cast**

- convert one data type to another type

- int,float,str,bool

- if a user provide one data type we can able to convert into other data type

**integer to other data types**

In [15]:
n1=100
# 100=====> 100.0     # int into float
float(n1)

100.0

In [18]:
n1=100
# 100=====> string===='100'
str(n1)

'100'

In [22]:
n1=100
# 100 =====>bool ===== true
bool(n1)

True

In [23]:
float(100),str(100),bool(100)

(100.0, '100', True)

In [25]:
float(-100),str(-100),bool(-100) # true ON something # flase OFF nothing

(-100.0, '-100', True)

In [27]:
float(0),str(0),bool(0)

(0.0, '0', False)

**float to other data type**

In [29]:
int(10.5),str(10.5),bool(10.5)

(10, '10.5', True)

In [32]:
int(7.8),str(67),bool(7.5)

(7, '67', True)

In [34]:
int(-7.7),str(-67),bool(7.5)

(-7, '-67', True)

In [36]:
int(0),str(0),bool(0)

(0, '0', False)

**string to other data type**

In [40]:
s1='apple'
s2='100'
s3='10.5'

In [41]:
int('apple'),float('apple')

ValueError: invalid literal for int() with base 10: 'apple'

In [44]:
int('100'),float('100'),bool('100')

(100, 100.0, True)

In [45]:
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [47]:
float('10.5')  # any number ppl max they will represent float
               # int ========= float

10.5

In [49]:
float('100'),float('100.5')

(100.0, 100.5)

In [50]:
int('100'),int('100.5')

ValueError: invalid literal for int() with base 10: '100.5'

In [59]:
## float has higer proprity then the int
int(50000)
float(50000)

50000.0

In [68]:
bool('apple'),bool('100'),bool('100.5')

(True, True, True)

In [73]:
len(''),bool('')

(0, False)

0====int
'0'=====str

0 is empty OFF   FLASE 
'0' is one character is available ture

In [76]:
n1='100'
len(n1)
bool(len(n1))

True

int('100.5')  # error
int('100')    # 100

int('100.5')  vs int(100.5)
bool('0')     vs bool(0)

**bool to other**

In [81]:
int(True)

1

In [83]:
float(True)

1.0

In [86]:
str('True')

'True'

In [ ]:
float(100)
str(100)
bool(100)
int(100.5)
bool(0)
int('apple')
float('apple')
bool('100')
bool('0')

In [4]:
n1=int(input('enter the n1:')) #n1=int('100')=100
n2=int(input('enter the n2:')) #n2=int('200')=200
n1+n2   #n1+n2=100+200=300

enter the n1: 100
enter the n2: 200

300

In [6]:
n1=int(input('enter the n1:')) 
n2=float(input('enter the n2:'))
n1+n2

enter the n1: 100
enter the n2: 100.5

200.5

In [8]:
n1=int(input('enter the n1:')) 
n2=int(input('enter the n2:'))
n1+n2

enter the n1: 100
enter the n2: 0

100

- whenever we want to use interger then we are applying **int**

- similarly if we want to use decimal number we are applying **float**

- there is one more operation is the : **eval**

- **eval** will convert integer values to int type, decimal values to float type

In [10]:
n1=int(input('enter the n1:')) 
n2=eval(input('enter the n2:'))
n1+n2

enter the n1: 100
enter the n2: 200.5

300.5

In [16]:
n1=eval(input('enter the n1:')) # instead of int and float we applying eval
n2=eval(input('enter the n2:'))
n1+n2

enter the n1: 100
enter the n2: 100.5

200.5

In [19]:
# overage of 3 numbers
n1=eval(input('enter the n1:')) 
n2=eval(input('enter the n2:'))
n3=eval(input('enter the n3:'))
n1+n2+n3/3

enter the n1: 10
enter the n2: 20
enter the n3: 30.30

40.1

In [ ]:
# wap ask the user take two number print subtraction multiplication and division
# ans: the subtraction of 100 and 200 is -100
#      the multiplication of 100 and 200 is 20000
#      the division of 100 and 200 is 0.5

# wap ask the user take the radius find the area of circle
    # pi=3.14
    # r=100
   # area_of_circle=pi*r*r

# wap ask the user take height and breadth find the area of traingle
#       area_of_traingle=0.5*b*h

# wap ask the user take 3 numbers find the average
# wap ask the user take the bill amount and tip amount calculate total bill
# wap ask the user take the salary, percetage of tax calculate tax amount
#      tax_amount= salary*tax_per/100
# wap ask the use take weight in kgs convert into pounds
#     1kg=2.2pounds

In [23]:
n1=eval(input('enter the n1:')) 
n2=eval(input('enter the n2:'))
sub=n1+n2
sub

enter the n1: 100
enter the n2: -200

-100

In [38]:
#  the multiplication of 100 and 200 is 20000
n1=eval(input('enter the n1:')) 
n2=eval(input('enter the n2:'))
mul=n1*n2
mul

enter the n1: 100
enter the n2: 200

20000

In [39]:
n1=eval(input('enter the n1:')) 
n2=eval(input('enter the n2:'))
div=n1/n2
div

enter the n1: 100
enter the n2: 200

0.5

In [41]:
# wap ask the user take the radius find the area of circle
    # pi=3.14
    # r=100
   # area_of_circle=pi*r*r
pi=eval(input('3.14'))
r=eval(input('100'))
area_of_circle=pi*r*r
area_of_circle

3.14 3.14
100 100

31400.0

In [42]:
# wap ask the user take height and breadth find the area of traingle
#       area_of_traingle=0.5*b*h
height=eval(input('height'))
breadth=eval(input('breadth'))
area_of_triangle=0.5*breadth*height
area_of_triangle

height 70
breadth 50

1750.0

In [49]:
# wap ask the user take 3 numbers find the average

n1=eval(input('enter the value:'))
n2=eval(input('enter the value:'))
n3=eval(input('enter the value:'))
n1+n2+n3/3

enter the value: 100
enter the value: 200
enter the value: 300

400.0

In [53]:
# wap ask the user take the bill amount and tip amount calculate total bill

n1=eval(input('bill_amount:'))
n2=eval(input('tip_amount:'))
total_bill=n1+n2
total_bill

bill_amount: 5000
tip_amount: 200

5200

In [ ]:
# wap ask the user take the salary, percetage of tax calculate tax amount
        #tax_amount= salary*tax_per/100

n1=eval(input('salary:'))
n2=eval(input('percentage_of_tax:'))
tax_amount=salary*percentage_of_tax/100
print(f'the total amount salary is:{tax_amount}')

In [13]:
# wap ask the use take weight in kgs convert into pounds
#     1kg=2.2pounds

kg = float(input("Enter weight in kilograms: "))
pounds = kg * 2.2
print(f"{kg} kg is equal to {pounds} pounds")

Enter weight in kilograms:  2

2.0 kg is equal to 4.4 pounds