**Functions**

- function is a block or a piece of code can use multiple times

 - function is used to re use the same task multiple times

- every function need a name

  - the name is used to call the function

  - the same variable rules are applecable to **function names**

- function name is can not be any variable name which already using

- functon names can not be module or package name

- function name can not be your file name

def <fun_name>():
    <write your code>

In [2]:
def greet():
    print('hello good evening')
greet()

hello good evening

In [ ]:
#we nwwd to call the function
print()
type()
sum()
len()
max()
min()

In [2]:
greet

In [3]:
greet()

hello good evening

In [10]:
driver

In [5]:
def driver():
    print('driver come here')
    print('yes sir ! iam coming')

In [6]:
driver()

driver come here
yes sir ! iam coming

In [7]:
def puppy():
    print("say iam sorry")

In [8]:
puppy()

say iam sorry

In [11]:
# spot on 
def new_employee():
    a=100
    b=200
    c=aa+bb
    print(c)

In [1]:
new_employee()

NameError: name 'new_employee' is not defined

- when define the function it will not throw any error 

- until unless we call the function

In [14]:
#spot-2
a=100

In [15]:
b=200

In [17]:
c=300
c

300

In [19]:
def new_employee():
    a=100
    b=200
    c=aa+bb
    print(c)
new_employee()

NameError: name 'aa' is not defined

In [ ]:
#wap ask the user enter three numbers and find the average
#wap ask the user enter salary and tax_per and calculate tax amount
#wap ask a suer to find the area of circle 
#wap ask the user to find the even and odd number
#wap ask the user enter a n1,take random n2
  #if both are match print won
  #otherwise fail

In [27]:
n1=eval(input('enter the n1:'))
n2=eval(input('enter the n2:'))
n3=eval(input('enter the n3:'))
avg=round((n1+n2+n3)/3)
print(f"avg",avg)

enter the n1: 500
enter the n2: 300
enter the n3: 500

avg 433

In [29]:
def AVERAGE():
    n1=eval(input('enter the n1:'))
    n2=eval(input('enter the n2:'))
    n3=eval(input('enter the n3:'))
    avg=round((n1+n2+n3)/3)
    print(f"avg",avg)
AVERAGE()

enter the n1: 500
enter the n2: 300
enter the n3: 500

avg 433

In [32]:
salary=eval(input('enter the salary:'))
tax_per=eval(input('enter the tax_per'))
tax_amount=salary*tax_per/100
print(f"total tax is",tax_amount)

enter the salary: 50000
enter the tax_per 10

total tax is 5000.0

In [34]:
def SALARY():
    salary=eval(input('enter the salary:'))
    tax_per=eval(input('enter the tax_per'))
    tax_amount=salary*tax_per/100
    print(f"total tax is",tax_amount)
SALARY()

enter the salary: 50000
enter the tax_per 10

total tax is 5000.0

In [49]:
import math
def AREA_OF_CIRCLE():
    pi=math.pi
    r=eval(input('enter radius'))
    area_of_circle=pi*r*r
    print(f"the area_of_circle is",area_of_circle)
AREA_OF_CIRCLE()

enter radius 100

the area_of_circle is 31415.926535897932

In [6]:
try:
    def AVERAGE():
        n1=eval(input('enter the n1:'))
        print(100/0)
        n2=eval(input('enter the n2:'))
        n3=eval(input('enter the n3:'))
        avg=round((n1+n2+n3)/3)
        print(f"avg",avg)
except Exception as e:
    print(e)
AVERAGE()

enter the n1: 10

ZeroDivisionError: division by zero

In [43]:
def AVERAGE1():
    try:
        n1=eval(input('enter the n1:'))
        n2=eval(input('enter the n2:'))
        n3=eval(input('enter the n3:'))
        avg=round((n111+n2+n3)/3)
        print(f"avg",avg)
    except Exception as e:
        print(e)
AVERAGE1()

enter the n1: 500
enter the n2: 300
enter the n3: 500

name 'n111' is not defined

In [45]:
def SALARY1():
    try:
        salary=eval(input('enter the salary:'))
        tax_per=eval(input('enter the tax_per'))
        print(100/0)
        tax_amount=salary*tax_per/100
        print(f"total tax is",tax_amount)
    except Exception as e:
        print(e)
        print('hello world')
SALARY1()

enter the salary: 500
enter the tax_per 300

division by zero
hello world

In [47]:
try:
    def SALARY3():
        salary=eval(input('enter the salary:'))
        tax_per=eval(input('enter the tax_per'))
        tax_amount=salary*tax_per/100
        print(100/0)
        print(f"total tax is",tax_amount)
except Exception as e:
    print(e)
    print("hello")
SALARY3()

enter the salary: 50000
enter the tax_per 10

ZeroDivisionError: division by zero

In [ ]:
AVERAGE()
TAX_CAL()
AREA_OF_CIRCLE()

In [7]:
import math
def AREA_OF_CIRCLE1():
    """
    Im doing area of circle
    it is a with out argument
    """
    pi=math.pi
    r=eval(input('enter radius'))
    area_of_circle=pi*r*r
    print(f"the area_of_circle is",area_of_circle)
AREA_OF_CIRCLE1()

enter radius 100

the area_of_circle is 31415.926535897932

In [3]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("It is an Even number")
else:
    print("It is an Odd number")

Enter a number:  2

It is an Even number

In [9]:
def EVEN():
    num = int(input("Enter a number: "))

    if num % 2 == 0:
        print("It is an Even number")
    else:
        print("It is an Odd number")
EVEN()

Enter a number:  10

It is an Even number

In [11]:
def greet_me(name):
    print('hello',name)

greet_me('rajnath')
greet_me('abhinaya')

hello rajnath
hello abhinaya

In [12]:
def greet(name):
    print("Hello", name)

greet("Rajnath")
greet("Abhinaya")

Hello Rajnath
Hello Abhinaya

In [21]:
#wap ask the user enter a n1,take random n2
  #if both are match print won
  #otherwise fail

import random

n1 = int(input("Enter a number: "))
n2 = random.randint(1, 10)

print("Random number is:", n2)

if n1 == n2:
    print("You won!")
else:
    print("You lost!")

Enter a number:  9

Random number is: 4
You lost!

In [22]:
def RANDOM_NUM():
    import random

    n1 = int(input("Enter a number: "))
    n2 = random.randint(1, 10)
    
    print("Random number is:", n2)
    
    if n1 == n2:
        print("You won!")
    else:
        print("You lost!")
RANDOM_NUM()

Enter a number:  5

Random number is: 2
You lost!

In [32]:
#Write a Python program:
#Ask the user to enter a number from 1 to 5
#Generate a random number from 1 to 5
#If both numbers are equal, print "Lucky Match!"
#If they are not equal, print "Try Again"
#Also print the random number so the user can see it

import random
n1=int(input('enter the number: '))
n2=random.randint(1,5)
print('random number is :',n2)
if n1==n2:
    print('lucky match!')
else:
    print('try again')

enter the number:  3

random number is : 3
lucky match!

In [36]:
def RANDOM_NUMBER():
    import random
    n1=int(input('enter the number: '))
    n2=random.randint(1,5)
    print('random number is :',n2)
    if n1==n2:
        print('lucky match!')
    else:
        print('try again')
RANDOM_NUMBER()

enter the number:  1

random number is : 1
lucky match!

In [ ]:
**functions with arguents**

- how many variables are there in function AVERAGE

    - n1,n2,n3,avg

- how many are input variables

    - n1,n2,and n3

- how many are output 

   - avg

- dont touch the output

In [6]:
def AVERAGE():
        n1=eval(input('enter the n1:'))
        n2=eval(input('enter the n2:'))
        n3=eval(input('enter the n3:'))
        avg=round((n1+n2+n3)/3)
        print(f"avg",avg)
AVERAGE()

enter the n1: 10
enter the n2: 20
enter the n3: 30

avg 20

In [2]:
def AVERAGE(n1,n2,n3):
    avg=round((n1+n2+n3)/3)
    print(f'avg',avg)
AVERAGE(10,20,30)

avg 20

In [4]:
def SALARY(salary,tax_per):
    """
    this programme calculates tax amount paid when salary and tax percentage are given
    this programme takes two arguments (salary ,tax_per)as input
    """
    tax_amount=salary*tax_per/100
    print(f"total tax is",tax_amount)
SALARY(10000,12)

total tax is 1200.0

In [9]:
def RANDOM_NUM(n1,n2):
    print("Random number is:", n2)
    
    if n1 == n2:
        print("You won!")
    else:
        print("You lost!")
RANDOM_NUM(eval(input('enter the num1:')),eval(input('enter the num2')))

enter the num1: 2
enter the num2 2

Random number is: 2
You won!

**Defualt Arguments**

- default arguments means some arguments values are fixed

In [12]:
def ADD(a,b,c):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(summ)
ADD(10,20,30)

a: 10
b: 20
c: 30
60

In [14]:
def ADD(a,b,c=50):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(summ)
ADD(10,20)

a: 10
b: 20
c: 50
80

In [16]:
def ADD(a,b,c=50):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(summ)
ADD(10,20,100) #run will take latest value even def is given a value

a: 10
b: 20
c: 100
130

In [21]:
def ADD(a,b,c=50):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(summ)
ADD(eval(input('enter the value:')),eval(input('enter the value:')),eval(input('enter the value:')))

enter the value: 10
enter the value: 20
enter the value: 30

a: 10
b: 20
c: 30
60

In [22]:
def ADD(a=50,b,c):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(summ)
ADD(10,20)

SyntaxError: parameter without a default follows parameter with a default (152554790.py, line 1)

**ALWAYS KEEP DEFUALT ARGUMENTS AT LAST**

In [27]:
def ADD(a,b,c):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    summ=a+b+c
    print(summ)
ADD(10,20,30)

a: 10
b: 20
c: 30
60

In [ ]:
n1,n2,n3=10 #works
n1,n2=20,n3 #error
n1=10,n2,n3 #error 
n1,n2=20,n3=10 #works
n1=10,n2,n3=20 #error
n1=10,n2=30,n3 #works
n1=10,n2=20,n3=30 #works

In [7]:
#Create a function WELCOME() that:
#Asks the user for their name.
#Prints: Welcome, <name>!

def WELCOME():
    print('ABHINAYA')
WELCOME()

ABHINAYA

In [8]:
def WELCOME():
    name = input("enter your name: ")
    print("Welcome,", name)

WELCOME()

enter your name:  ABHINAYA

Welcome, ABHINAYA

In [10]:
#Create a function SUM3() that:
#Asks the user for three numbers.
#Prints their sum.

def SUM3():
    num1=int(input('enter the number:'))
    num2=int(input('enter the number:'))
    num3=int(input('enter the number:'))
    total=num1+num2+num3
    print('sum of three number',total)
SUM3()

enter the number: 10
enter the number: 20
enter the number: 30

sum of three number 60

In [12]:
#Write a function TAX():
#Input salary.
#Input tax percentage.
#Calculate tax = salary * tax_per / 100
#Print Tax amount is <tax>.

def TAX():
    salary=eval(input('enter the salary :'))
    tax_per=eval(input('enter the tax percentage:'))
    tax=salary*tax_per/100
    print('tax need to pay',tax)
TAX()

enter the salary : 50000
enter the tax percentage: 10

tax need to pay 5000.0

In [14]:
#Write a function AREA_RECT() that:
#Asks length
#Asks breadth
#Calculates area
#Prints result

def AREA_RECT():
    length=float(input('enter the length:'))
    breadth=float(input('enter the breadth:'))
    area=length*breadth
    print("area of the rectangle",area)
AREA_RECT()

enter the length: 10
enter the breadth: 5

area of the rectangle 50.0

In [ ]:
Now write the function like this:

Function name: BONUS

Inside it:

calculate bonus

print result

Then call it twice:

BONUS(20000)

BONUS(20000, 5)

In [ ]:
Now write the function like this:

Function name: BONUS

Inside it:

calculate bonus

print result

Then call it twice:

BONUS(20000)

BONUS(20000, 5)

In [19]:
def BONUS(salary,bonus_per=10):
    bonus=salary*bonus_per/100
    print('bonus amount is ',bonus)
BONUS(50000)

bonus amount is  5000.0

In [29]:
# Step-by-step checklist
#Import the math module:
#import math
#Define a function called CIRCUMFERENCE.
#Inside the function:
#Ask the user for radius.
#Convert it to float.
#Apply the formula.
#Print the result.

import math
def CIRCUMFERENCE():
    radius=float(input('enter the radius:'))
    circumference = 2* math.pi * radius
    print('circumference is ',circumference)
CIRCUMFERENCE()

enter the radius: 10

circumference is  62.83185307179586

In [25]:
import math

def CIRCUMFERENCE():
    radius = float(input('enter the radius: '))
    circumference = 2 * math.pi * radius
    print('circumference is', circumference)

CIRCUMFERENCE()

enter the radius:  5

circumference is 31.41592653589793

In [30]:
def add(a, b):
    return a + b

x = add(10, 20)
print(x)

30

In [31]:
def add(a, b):
    print(a + b)

x = add(10, 20)
print(x)

30
None

In [ ]:
def sub(a,b):
    print:(a-b)

x=sub(10,2)
print(x)

**local-global variables**

- local variables define inside the function

  - local variables can not use outside the function
  
  - **ADDDITION** is local variable concept
 
  - in that the variable summ we can not print code
 
- global variable define outside the function

  - global variable can be use anywhere in entire script
 
  - global variables can be use multiple functions

In [7]:
n1=100
n2=200
n3=300

def ADDITION():
    n1=10
    n2=20
    n3=30
    summ=n1+n2+n3
    print(f'the addition of {n1},{n2} and {n3} are:{summ}')
ADDITION()

the addition of 10,20 and 30 are:60

In [8]:
n11=100
n22=200
n33=300


def ADDITION():
    summ1=n11+n22+n33
    print(f'the addition of {n11},{n22} and {n33} are:{summ1}')
ADDITION()

the addition of 100,200 and 300 are:600

In [11]:
a=10
b=20
c=30

def MULTIPLY():
    mull=a*b*c
    print(f'the multiplication of {a},{b} and {c} are:{mull}')
MULTIPLY()

the multiplication of 10,20 and 30 are:6000

In [14]:
# global variable means : PAN INDIAN HERO
# local variable means : LOCAL HERO
# local======global
n11=100
n22=200
n33=300
def ADDITION3():
    global summ2
    summ2=n11+n22+n33
    print(f'the addition of {n11},{n22} and {n33} are : {summ2}')
ADDITION3()

the addition of 100,200 and 300 are : 600

In [15]:
summ2

600

In [21]:
def ADDITION4():
    a1=10
    b1=20
    c1=30
    summ3=a1+b1+c1
    print(f'the addition of {a1},{b1} and {c1} are :{summ3}')
ADDITION4()

SyntaxError: invalid syntax (1067894286.py, line 5)

In [20]:
summ3

NameError: name 'summ3' is not defined

In [6]:
a2=10
b2=20
c2=30

def ADDITION5():
    global summ3
    summ3=a2+b2+c2
    print(f'the addition of {a2},{b2} and {c2} are :{summ3}')
ADDITION5()

the addition of 10,20 and 30 are :60

In [7]:
summ3

60

In [8]:
def ADDITION4():
    global a1,b1,c1
    a1=10
    b1=20
    c1=30
    summ3=a1+b1+c1
    print(f'the addition of {a1},{b1} and {c1} are :{summ3}')
ADDITION4()

the addition of 10,20 and 30 are :60

In [11]:
a1,b1,c1

(10, 20, 30)

In [12]:
x=10
print(x)

10

In [13]:
print(y)
y=10

NameError: name 'y' is not defined

**unbound local error**

In [14]:
def f1():
    print(y)
    y=10
f1()

UnboundLocalError: cannot access local variable 'y' where it is not associated with a value

In [15]:
z=100 # global
def f2():
    print(z)
    z=10 # local
f2()

UnboundLocalError: cannot access local variable 'z' where it is not associated with a value

**A asame variable defines as global aslo loacal, python consider local first**

In [17]:
z=100 # global
def f2():
    print(z)
f2()

100

In [18]:
def f3():
    z=10
    print(z)
f3()

10

In [20]:
z=100
def f4():
    z=10
    print(z)
f4()

10

In [21]:
z

100

In [4]:
summ=0
def ADD1():
    a=10
    b=20
    summ=summ+a
    print(c)
ADD1()

UnboundLocalError: cannot access local variable 'summ' where it is not associated with a value

In [ ]:
#step-1 define the function
#step-2 calling the function
#step-3 run the function

In [4]:
a=300
def f1(a=400):
    b=300
    c=a+b
    a=500
    print(c)
a=700
f1(a=900)
a=1000

1200

**Return statements**

- return statements are used to return the values

- every function will do some operations

- those operations will save in one variable

- if we want to use those values out side the functions we can not use 

- for that we are using **global** keyword

- we can also use those variable values out side fumction using **return**

In [17]:
def AVERAGE1(n1,n2,n3=20):
    summ=n1+n2+n3
    avg=summ/3
    return(avg)
AVERAGE1(10,20,30)

20.0

In [2]:
def AVERAGE1(n1,n2,n3=20):
    summ=n1+n2+n3
    avg=summ/3
    return(avg,summ)
a,b=AVERAGE1(10,20,30)
print(a)
print(b)
print(a,b)

20.0
60
20.0 60

In [24]:
def greet(name,age=25):
    print(f'my name is {name} and my age is {age}')
greet("RAJNATH",30)

def greet(name,age):
    print(f'my name is {name} and my age is {age}')
greet("RAJNATH",22)


def greet(name,age=25):
    age=35
    print(f'my name is {name} and my age is {age}')
greet("RAJNATH",22)

my name is RAJNATH and my age is 30
my name is RAJNATH and my age is 22
my name is RAJNATH and my age is 35

In [ ]:
def greet(name,age):
    print(f'my name is {name} and my age is {age}')
greet("RAJNATH",22)
def greet(name,age):
    print(f'my name is {name} and my age is {age}')
greet("RAJNATH",22)    
greet(name="rajnath",22)
greet("rajnath",age=22)

In [25]:
def greet(name,age):
    print(f'my name is {name} and my age is {age}')
greet("RAJNATH",22)

my name is RAJNATH and my age is 22

In [26]:
def greet(name,age):
    print(f'my name is {name} and my age is {age}')
greet(name="rajnath",22)

SyntaxError: positional argument follows keyword argument (1028161819.py, line 3)

In [27]:

def greet(name,age):
    print(f'my name is {name} and my age is {age}')
greet("rajnath",age=22)

my name is rajnath and my age is 22

In [28]:
def greet1(name,/,age):
    print(f"my name is {name} and my age is {age}")
greet("rajnath",22)
# are you providing argument name :yes

my name is rajnath and my age is 22

In [37]:
def greet1(name,/,age):
    print(f"my name is {name} and my age is {age}")
greet1(name="rajnath",22)
#fail
# we provided argument for before slash

SyntaxError: positional argument follows keyword argument (706185117.py, line 3)

In [38]:
def greet1(name,/,age):
    print(f"my name is {name} and my age is {age}")
greet1(name="rajnath",age=22)

TypeError: greet1() got some positional-only arguments passed as keyword arguments: 'name'

In [36]:
def greet1(name,/,age):
    print(f"my name is {name} and my age is {age}")
greet1("rajnath",age)

NameError: name 'age' is not defined

In [ ]:
greet1(name,/,age)
greet1('Rajnath',22) #w
greeet1('Rajnath',age=22) #W
greet1(name='Rajnath',22) #f
greet1(name='Rajnath',age=22) #f

- before slash : **positional arguments**

   - which means the postional is fixed

   - we no need to use the **variable name**

- after slash:**keyword arguments**
       
       - we can use the variable name

       - or we can provide directly

In [13]:
import math
dir(math)
math.sin(10)

-0.5440211108893698

In [14]:
math.cos(90)

-0.4480736161291701

In [15]:
math.tan(90)

-1.995200412208242

In [17]:
math.pow(10,20)

1e+20

In [4]:
math.pow(x=2,y=3)
math.pow(2,y=3)
math.pow(x=2,3)
math.pow(2,3)

# take your cursor inside bracket : shift+tab

TypeError: math.pow() takes no keyword arguments

In [ ]:
import random
random.randint(10,20)
random.randint(a=10,b=20)
ramdom.randoint(10,b=20)
random.randint()

In [9]:
def greet2(name,*,age):
    print(f"my name is {name} and my age is {age}")
greet2(name='Rajnath',age=22)

my name is Rajnath and my age is 22

In [8]:
def greet2(name,*,age):
    print(f"My name is {name} my age is {age}")
greet2(name="ravi",age=22)
# greet("raj",22)
# greet(name="sam",20)
greet2("test",age=20)

before * argument is our wish
after * argument name is mandatory
before / no need     before * our wish

after

My name is ravi my age is 22
My name is test my age is 20

In [ ]:
def greet1(name,/,age):
    print(f"My name is {name} my age is {age}")


def greet2(name,*,age):
    print(f"My name is {name} my age is {age}")

In [14]:
def greet1(name,/,age):
    print(f"My name is {name} my age is {age}")
greet1('rajnath',age=22) #w
greet1('rajnath',22) #w
greet1(name='rajnath',22) #f
greet1(name='rajnath',age=22) #f

TypeError: greet1() got some positional-only arguments passed as keyword arguments: 'name'

In [1]:
def greet1(name, /, age):
    print(f"my name is {name} and my age is {age}")

greet1(name="rajnath", age=22)

TypeError: greet1() got some positional-only arguments passed as keyword arguments: 'name'

In [2]:
def greet2(name,*,age):
    print(f"my name is {name},and my age is {age}")
greet2('rajnath',22)

TypeError: greet2() takes 1 positional argument but 2 were given

In [3]:
def greet2(name,*,age):
    print(f"my name is {name},and my age is {age}")
greet2(name='rajnath',22)

SyntaxError: positional argument follows keyword argument (454941351.py, line 3)

In [4]:
def greet2(name,*,age):
    print(f"my name is {name},and my age is {age}")
greet2('rajnath',age=22)

my name is rajnath,and my age is 22

my name is rajnath,and my age is 22

**covered in function**

- finction without arguments

- function with arguments 

- function default arguments

- global vs local varibale

- function with retun statemnet

- positional and keyword argument/and

**args-kwargs**

- args means we can provide miltiple values withiout argument name

    - which means while calling function we can provid directly "virat",102

    - while define the fumction you need to mention argument names also

    - the output will comes in **tuple** format : ("virat",102)

- kwargs keyword arguments means we can provid multiple values with argument name

    - while define the function no need to provid the name the name of the arguments

    - while call the function definitely we need to provid with argument names

       - 'virat',runs=102

    - the output comes in dict format :{'name' :'virat','runs':102}

In [2]:
 #def fun1(*args):
    # print(a)
     #print(b)




def fun1(*args):
    print(args)
fun1(10,20)
#withput name 
#out put in tuple format

(10, 20)

In [8]:
def fun2(**kwargs):
    print(kwargs)
fun2(a=10,b=20) 
# with name 
# output in dict format

{'a': 10, 'b': 20}

**functions in functions**

In [11]:
def greet1():
    print('good morning')
def greet2():
    print('good night')
greet1()
greet2()

good morning
good night

In [14]:
def greet1():
    greet2()
    print('good morning')
def greet2():
    print('good night')
greet1()

good night
good morning

In [9]:
def greet1():
    print('good morning')
    greet1()
def greet2():
    print('good night')
    greet1()

**recursion problem**

- calling the function inside the same function

In [3]:
def greet1():
    print('good morning')
    greet1()
    
greet1()

In [7]:
def f1(n):
    if n==0:
        return(0)
    
    print(n)
    f1(n-1)
f1(10)

10
9
8
7
6
5
4
3
2
1

In [17]:
def f1(n):
    if n==0:
        return(0)
    print(n)
    f1(n-1)
f1(n=10)

10
9
8
7
6
5
4
3
2
1

In [23]:
def f1(n):
    if n==0:
        return(0)
    print(n)
    f1(n-2)
f1(10)

10
8
6
4
2

In [28]:
def f2(n):
    if n==0:
        return(0)
    print(n)
f2(5)

5

In [30]:
def f2(n):
    if n==0:
        return(0)
    add=n+f2(n-1)
    return(add)
f2(5)

15

In [29]:
def f3(n):
    if n==0:
        return(1)
        
    fact=n*f3(n-1)
    return(fact)
f3(5)

120

In [1]:
def countdown(n):
    if n == 0:
        print("Go!")
        return
    print(n)
    countdown(n-1)

countdown(5)

5
4
3
2
1
Go!

In [26]:
def countdown1(n):
    if n==0:
        print('go')
        return(3)
    print(n)
    countdown1(n-1)
        
countdown1(3)

3
2
1
go